.registration
  .registration_box
    .registration_box_hukidasi
      ここに登録情報を入力してください
    .registration_box_contender
      .registration_box_contender_form
        .registration_box_contender_form_each
        .registration_box_contender_form_each
        .registration_box_contender_form_each
        .registration_box_contender_form_each
        .registration_box_contender_form_each