.registration{
  width: 100vw;
  height: 200vh;
  .registration_box{
    height: 100vh;
    width: 40vw;
    border: ridge khaki;
    .registration_box_hukidasi{
      text-align: center;
      background-color: lightgrey;
    }
  }
}