.toppage_header
  .toppage_header_symbol
    毎日を健やかに

.users_infotmation
  .users_information_name
    .users_information_name_box
      ゲスト様
  .users_infotmation_register
    .users_infotmation_register_box
      .users_infotmation_register_new
        = link_to  "新規登録" , step1_users_path
      .users_infotmation_register_login
        ログイン

.toppage_topic
  .toppage_topic_symbol
    トピック

.toppage_movies
  .toppage_movies_choice
    転倒  生活習慣病  腰痛  介護